body{
    background-color:#e9f5ec;
}

nav{
    text-align:center;
    margin-bottom:20px;
}

nav a{
    margin:15px;
    text-decoration:none;
    color:black;
    font-weight:bold;
}



.row{
    display:flex; 
    justify-content:center;
}

.profile-img{
    text-align: center;
    width:40%;
    margin:10px;
}

.imgs{
    width: 100%;
    height: 75%; 
    border-radius:15px;
}

th, td{
    border:1px solid black;
    text-align:center;
}

footer{
    color:#555;
}

footer img{
    height:auto;
    border:2px solid black;
    border-radius:10px;
}


#img1{
    border-top-left-radius:25px; 
}

#img2{
    border-top-right-radius:25px; 
}

#img3{
    border-bottom-left-radius:25px; 
}

#img4{
    border-bottom-right-radius:25px; 
}

.team-name{
    color:green;
    text-align: center;
    font-family: 'Playwright India Guides', cursive; 
    font-size:max(2vw, 7vw); 
    margin:0 auto;
    
}